* {
  box-sizing: border-box;
}

body {
  /* min-width: 1200px; */
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.text_center {
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #ff9900;
  border-radius: 16px;
  cursor: pointer;
}

.btn_size_s {
  height: 60px;
  padding: 20px 38px;
  font-size: 16px;
  line-height: 19.5px;
}

/* .logo {
  height: 72px;
  width: 224px;
} */

.search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/img/search.svg) center center no-repeat transparent;
  background-size: contain;
}

.section-header {
  font-size: 48px;
  font-weight: 400;
  line-height: 58.51px;
}

.text {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.text-header {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.header__nav-burger {
  display: none;
}

/* Header */

.header {
  margin-bottom: 50px;
  border-bottom: 1px solid #ffffff;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  height: 100px;
  padding-top: 16px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-item:not(:last-child) {
  margin-right: 85px;
}

.header__logo {
  margin-right: 292px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.header__search {
  transform: translateY(4px);
}

/* Hero */

.hero {
  /* margin-bottom: 51px;
  background: url("../img/low-angle-photo-of-balconies-2462015\ 1.jpg") center
    no-repeat white;
  background-size: contain; */
}

.hero__container {
  margin-bottom: 51px;
  background: url("../img/low-angle-photo-of-balconies-2462015\ 1.jpg") center
    no-repeat white;
  background-size: contain;
  height: 620px;
  padding: 101px 95px;
}

.hero__header {
  max-width: 837px;
  margin-bottom: 22px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85.33px;
  color: #fff;
}

.hero__description {
  max-width: 790px;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  color: #fff;
}

.hero__btn {
  width: 280px;
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28.04px;
}

/* About */

.about {
  margin-bottom: 101px;
}

.about__header {
  margin-bottom: 20px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 49px;
}

.about__details {
  display: flex;
  justify-content: space-between;
}

.about__details-content {
  height: 622px;
  width: 868px;
  margin-right: 32px;
  padding-top: 426px;
  background: url("../img/about_img.png") center no-repeat white;
  background-size: contain;
  border-radius: 32px;
}

.about__details-link {
  height: 196px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__details-description {
  max-width: 433px;
  font-weight: 700;
  color: #fff;
}

.about__btn {
  max-width: 175px;
  padding: 17px 35px;
  background-color: transparent;
  border: #ff9900 solid 3px;
}

.details-blocks {
  width: 870px;
  height: 295px;
  padding: 64px 59px;
  display: flex;
  border: 1px solid #cacaca;
  border-radius: 32px;
}

.details-blocks__top-block {
  margin-bottom: 32px;
}

.details__icon {
  margin-right: 50px;
}

.details__text-header {
  width: 452px;
}

.details__text {
  width: 450px;
}

/* How */

.how {
  margin-bottom: 100px;
}

.how__header {
  margin-bottom: 51px;
}

.how__list {
  display: flex;
  margin-bottom: 45px;
}

.how__item:not(:last-child) {
  margin-right: 86px;
}

.how__slider-switch {
  font-size: 18px;
  line-height: 21.94px;
  font-weight: 400;
  color: #000000;
}

.how__slider {
  display: flex;
  justify-content: space-between;
}

.how__slider-text-header {
  line-height: 32px;
}

.how__slider-text {
  max-width: 758px;
  height: 352px;
  margin-right: 141px;
  margin-bottom: 17px;
}

.how__btns {
  display: flex;
}

.how__details-btn {
  margin-right: 32px;
  padding-top: 21px;
}

.how__contract-btn {
  width: 147px;
  padding: 20px 37px;
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 300;
}

.how__slider-img {
  width: 870px;
  height: 469px;
  background: url(/img/how_slider_img1.png) bottom no-repeat white;
  background-size: 870px 460px;
}

/* Faq */

.faq {
  margin-bottom: 100px;
}

.faq__section-header {
  height: 70px;
  margin-bottom: 32px;
  padding-top: 12px;
}

.faq__item {
  height: 111px;
  padding: 32px 0 28px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
  align-items: center;
}

.faq__item:first-child {
  height: 112px;
  border-top: 1px solid #cacaca;
}

.faq__item-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.faq__item-answer-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(/img/faq_answers_icon.svg) center no-repeat white;
  background-size: contain;
}

/* Footer */

.footer {
  background-color: #000000;
  height: 594px;
}

.footer__container {
  height: 594px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 14px;
}

.footer__menu {
  width: 252px;
  /* height: 494px; */
  margin-right: 349px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer__nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  color: #cacaca;
}

.footer__socials {
  display: flex;
}

.socials__logo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.socials__logo-od {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  margin-left: 1px;
  background-image: url(/img/od.svg);
}

.socials__logo-vk {
  width: 60px;
  height: 60px;
  background-image: url(/img/vk.svg);
}

.footer__form {
  width: 570px;
  margin-right: 236px;
}

.footer__form-header {
  display: inline-block;
  margin-bottom: 25px;
  /* padding-top: 1px; */
  line-height: 59px;
  color: #cacaca;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__input {
  width: 570px;
  height: 60px;
  margin-bottom: 25px;
  padding: 14px 24px;
  background-color: #414141;
  border-color: transparent;
  border-radius: 16px;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  color: #cacaca;
}

.footer__textarea {
  height: 150px;
  margin-bottom: 32px;
}

.footer__btn {
  width: 269px;
  height: 58px;
  padding: 19px 52px;
  border: transparent;
}

/* .footer__checkbox {
  color: #fff;
} */

.footer__text {
  max-width: 363px;
  padding-top: 1px;
  color: #cacaca;
}

@media (max-width: 1024px) {
  .container {
    max-width: 954px;
  }

  /* Header */

  .header {
    margin-bottom: 40px;
  }

  .header__container {
    padding: 26px 15px;
  }

  .header__nav {
    display: none;
  }

  .header__logo {
    max-width: 150px;
    max-height: 48px;
    transform: translateY(1px);
    margin: 0;
  }

  .header__nav-burger {
    display: block;
  }

  .header__burger-icon {
    width: 30px;
    height: 23px;
    transform: translateY(3px);
    display: inline-block;
    background: url(/img/burger.svg) center center no-repeat transparent;
    background-size: contain;
  }

  .header__search {
    transform: translateY(5px);
  }

  /* Hero */

  .hero__container {
    width: 924px;
    height: 668px;
    margin-bottom: 36px;
    padding: 161px 77px 160px;
    background: url("../img/hero_bg_1024.png") center no-repeat white;
    background-size: cover;
    border-radius: 32px;
  }

  .hero__header {
    max-width: 770px;
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 73.14px;
  }

  .hero__description {
    max-width: 660px;
    margin-bottom: 59px;
    font-size: 20px;
    line-height: 24.38px;
  }

  /* About */

  .about {
    margin-bottom: 81px;
  }

  .about__text {
    max-width: 1235px;
    margin-bottom: 59px;
  }

  .about__details {
    display: block;
  }

  .about__details-content {
    height: 640px;
    width: auto;
    background-size: cover;
    margin-right: 0;
    margin-bottom: 32px;
    padding-top: 444px;
  }

  .about__details-link {
    align-items: center;
    padding: 53px 49px 51px 51px;
  }

  .details-blocks {
    width: auto;
    padding: 64px 76px;
  }

  /* How */
  .how {
    margin-bottom: 80px;
  }

  .how__list {
    margin-bottom: 50px;
  }

  .how__slider-text {
    max-width: 437px;
    height: auto;
    margin-right: 50px;
    margin-bottom: 24px;
  }

  .how__slider-img {
    width: 437px;
    height: 700px;
    background: url(/img/how_slider_img1_1024.png) bottom no-repeat white;
    background-size: 437px 689px;
  }

  /* FAQ */

  .faq {
    margin-bottom: 80px;
  }

  .faq__section-header {
    height: auto;
    padding-top: 1px;
  }

  .faq__item {
    height: auto;
    padding: 30px 0 30px;
  }

  .faq__item:first-child {
    height: auto;
  }

  .faq__item-text {
    max-width: 756px;
  }

  .faq__item-answer {
    height: 50px;
  }

  /* Footer */

  .footer__container {
    padding: 50px 15px;
  }

  .footer__menu {
    margin-right: 132px;
  }

  .footer__nav-list {
    width: 251px;
  }

  .faq__item-text {
    font-size: 20px;
  }

  .footer__form {
    width: 541px;
    margin-right: 0;
  }
  .footer__input {
    width: 541px;
  }

  .footer__btn {
    width: 241px;
    padding: 19px 38px;
  }

  .footer__text {
    display: none;
  }
}
